.Banner {
  text-align: center;
}

/*
.Banner-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Banner-logo {
    animation: Banner-logo-spin infinite 20s linear;
  }
}
*/

.Banner-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
.Banner-link {
  color: #61dafb;
}

@keyframes Banner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
